<form #form="ngForm" (ngSubmit)="getValue(form.value)">
  <input type="text" required placeholder="nama" id="nama" ngModel name="nama"><br><br>
  <input type="text" required placeholder="hp" id="hp" ngModel name="hp"><br><br>
  <input type="text" required placeholder="email" id="email" ngModel name="email"><br><br>
  <input type="text" required placeholder="password" id="password" ngModel name="password"><br><br>
  <button>submit</button>
</form>

<div class="">
  <a routerLink="/">Login here</a>
</div>
